@import "tailwindcss";

.recharts-surface:focus,
.recharts-surface:focus-visible {
  outline: none;
}

.recharts-wrapper:focus,
.recharts-wrapper:focus-visible {
  outline: none;
}

svg g:focus,
svg g:focus-visible {
  outline: none !important;
}
